@font-face {
    font-family: "Spooky";
    src: url("fonts/ShadowsIntoLight-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Spooky", cursive;
}